@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');

:root {
  --brad-sm: 4px;
  --brad-sm-top: 4px 4px 0 0;
  --brad-md: 6px;
  --brad-lg: 9px;
  --bx-shadow-sm: 0 4px 4px rgba(24, 24, 24, 0.914);
  --bx-shadow-sm-light: 0 4px 4px rgba(104, 104, 104, 0.914);
  --bx-shadow-md: 0 4px 4px rgba(24, 24, 24, 0.374),
    0 6px 6px rgba(227, 227, 227, 0.674);
  --txt-shadow-md: 0 4px 4px rgb(0, 0, 0);
  --txt-shadow-sm: 0 2px 2px rgb(0, 0, 0);
  --clr-primary: #0782af;
  --clr-secondary: #e64019;
  --clr-dark: rgb(29, 29, 29);
  --clr-light: rgb(242, 242, 242);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  color: var(--clr-light);
  font-size: 1rem;
}

/** Progress Bar **/

.container-progress-bar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.936);
}
.container-progress-bar label,
.container-progress-bar #progress-bar-value {
  padding-bottom: 0.3rem;
  font-size: 1.2rem;
  text-shadow: 0 2px 2px #000000;
}
.container-progress-bar progress {
  width: 16rem;
}
.container-progress-bar #progress-bar-value {
  font-weight: 800;
  color: #1d75dc;
}

/**  Card of planet details **/

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.card {
  display: block;
  position: absolute;
  user-select: none;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -49%);
  background-color: black;
  background: url('./assets/img/card-bkg.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 35.5rem;
  width: clamp(20rem, 98%, 28.9rem);
  border-radius: var(--brad-lg);
  outline: 2px ridge rgba(25, 121, 255, 0.227);
  border: 6px solid rgba(255, 255, 255, 0.081);
  box-shadow: var(--bx-shadow-sm);
  z-index: 5;
  opacity: 0;
  transition: opacity 0.35s ease-out, transform 0.35s ease-out;
}
.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff6a0036, #00000091);
  z-index: -5;
  border-radius: 0.3rem;
}

.card.active {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.btn-close-card {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 3rem;
  border: none;
  box-shadow: var(--bx-shadow-lg);
  background-color: var(--clr-secondary);
  opacity: 0.91;
  box-shadow: inset 3px 3px 3px rgba(206, 206, 206, 0.56),
    inset -3px -3px 3px rgba(53, 53, 53, 0.46);
  transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.btn-close-card:hover {
  opacity: 1;
  box-shadow: inset -2px -2px 2px rgba(206, 206, 206, 0.24),
    inset 2px 2px 2px rgba(53, 53, 53, 0.46);
}
.btn-close-card:focus {
  outline-style: none;
}
.card-top {
  position: relative;
  top: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 86%;
  height: 67%;
  margin-top: 1.6rem;
  margin-inline: auto;
  z-index: 10;
  background: linear-gradient(0deg, #09040036, #000000c3);
  border-radius: var(--brad-sm);
  border: 1px solid rgba(255, 255, 255, 0.067);
  border-bottom: 3px solid rgba(3, 3, 3, 0.704);
}

.card-top__header {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(0deg, #7e7e7e4b, #000000);
  border-bottom: 3px solid rgba(3, 3, 3, 0.704);
}
.card-top__header-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.1rem;
  letter-spacing: 3px;
  text-shadow: var(--txt-shadow-md);
  margin-block: 1.8rem;
  opacity: 0;
}
.card-top__header-title.active {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.card-top__img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 6rem;
  overflow: hidden;
}

.card-top__img {
  position: relative;
  transform: scale(0.3) translateX(-21rem);
  opacity: 0;
}

.card-top__img.active {
  animation: showImg 1.5s ease-out forwards;
}

@keyframes showImg {
  to {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

.card-bottom {
  margin-top: 1.8rem;
  margin-inline: auto;
  width: 86%;
  height: 4.8rem;
  background-color: var(--clr-secondary);
  background: linear-gradient(0deg, #09040036, #000000c3);
  border-radius: var(--brad-sm);
  border-bottom: 3px solid rgba(3, 3, 3, 0.704);
  transform: scaleY(0);
  transform-origin: top;
}
.card.active .card-bottom {
  transition: transform 0.9s 1.2s ease-in-out;
  transform: scaleY(1);
}

.card-bottom__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-shadow: var(--txt-shadow-md);
}

.card-bottom__content .card-bottom__info {
  color: #74d1ff;
  padding-bottom: 0.3rem;
  font-weight: 500;
}
.card-bottom__content .card-bottom__description {
  font-weight: 400;
}
.card-bottom__content .card-bottom__info,
.card-bottom__content .card-bottom__description {
  position: relative;
  transform: translateY(0.8rem);
  opacity: 0;
}
.card-bottom__content .card-bottom__info.active,
.card-bottom__content .card-bottom__description.active {
  animation: fadeIn 0.45s ease-out forwards;
}

.card-bottom__content .card-bottom__description.active {
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/** Media screen **/

@media screen and (max-width: 800px) {
  .card-top__img {
    transform: scale(0.3) translateX(-16rem);
  }
}

@media screen and (orientation: landscape) {
  .card {
    height: 280px;
    transform: translate(-50%, -60%);
  }
  .card-top {
    position: relative;
    top: 1.1rem;
    height: 52%;
  }
  .card-top__header-title {
    font-size: 1.5rem;
    margin-block: 0.5rem;
  }
  .card-top__img-container {
    padding-top: 3rem;
  }
  .card-top__img {
    width: 50px;
    height: auto;
  }
  .card-bottom {
    margin-top: 1rem;
    height: 4.1rem;
  }
}
